.root {
  border: none;
  cursor: pointer;

  color: var(--color-text-primary);
  font-size: 1em;
  background-color: var(--color-primary);
  padding: .5em 1.5em;
  text-transform: uppercase;
  letter-spacing: .2em;

  &:hover {
    filter: brightness(120%);
  }

  &:active {
    box-shadow: 0 0 .5em 0 #606060 inset;
    filter: none;
  }
}
