@use "src/styles/variables" as v;

.title {
  font-weight: bold;
}

.value {
  font-size: 1.125em;
  text-align: center;
}

.column {
  padding: .5em 1em;
}

.success {
  background-color: var(--color-success);
  color: white;
  text-transform: uppercase;

  @media (prefers-color-scheme: dark) {
    color: v.$color-text-primary-dark;
  }
}

.danger {
  background-color: var(--color-danger);
  color: white;
  text-transform: uppercase;

  @media (prefers-color-scheme: dark) {
    color: v.$color-text-primary-dark;
  }
}

.bold {
  font-weight: bold;
  font-size: 1.25em;
}

.dotSuccess {
  color: var(--color-success);
}

.dotDanger {
  color: var(--color-danger);
}

.dot {
  display: inline;
}
