.title {
  font-weight: bold;
}

.value {
  font-size: 1.125em;
  text-align: center;
}

.column {
  padding: .5em 1em;
}

.success {
  background-color: var(--color-success);
  color: #d0d0d0;
  text-transform: uppercase;
}

.danger {
  background-color: var(--color-danger);
  color: #d0d0d0;
  text-transform: uppercase;
}
