$color-background: #adc8e0;
$color-background-container: white;
$color-primary: #b6a7ff;
$color-text-primary: black;

$color-background-dark: #2d3842;
$color-background-container-dark: #415179;
$color-primary-dark: #5b4894;
$color-text-primary-dark: #d0d0d0;

$color-success: green;
$color-danger: red;
